[package]
name = "stack-assembly"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[dependencies.bytemuck]
version = "1.25.0"
features = ["derive"]
