name: CI Build

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check formatting
        run: cargo fmt --check

      - name: Run Clippy
        # `--all-targets`, because we want Clippy to check both regular and
        # test-only code.
        run: cargo clippy --all-targets

      - name: Run test suite
        run: cargo test

      - name: Build documentation
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc
